* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow: hidden;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(90deg, #ece9e6, #ffffff);
  display: flex;
  flex-direction: row;
  width: 100%;
}
.btn {
  display: none;
}
input {
  padding: 7px 10px;
  border: 1.5px solid black;
  border-radius: 5px;
}
input:focus {
  outline: none;
}
p {
  font-family: arial;
  color: #2c2c2c;
  font-weight: 600;
}
.room_id_container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  width: 95%;
  height: 30%;
}
.chat {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 20% 60% 20%;
}
.room {
  margin: 20px;
  background: rgb(223, 251, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space_evenly;
  width: 300px;
  height: 500px;
  box-sizing: border-box;
  transition: all 0.5s ease-in-out;
  border: 1px solid black;
  padding: 10px;
}
.room:hover {
  box-shadow: -10px 10px 0px 0px rgba(0, 0, 0, 1);
}
span {
  font-weight: 500;
  margin: 10px;
}
/* .chat {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  height: 600px;
  background: rgb(255, 149, 207);
  box-shadow: -23px 23px 0px 0px rgba(0, 0, 0, 0.75);
} */
.send_btn {
  padding: 10px;
  outline: none;
  border: none;
  background-color: #ff5858;
  color: black;
}
canvas {
  background: rgb(50, 47, 47);
  width: 97vmin;
  height: 80vmin;
  border-radius: 5px;
  display: inline-block;
  margin: 0.4rem;
  position: relative;
}
canvas,
#popup {
  max-width: 974.85px;
  max-height: 804px;
}
#popup {
  width: 97vmin;
  height: 80vmin;
  background-color: rgb(0, 0, 0);
  color: white;
  border-radius: 5px;
  display: inline-block;
  margin: 0.4rem;
  position: absolute;
  display: none;
  align-items: center;
  justify-content: center;
  font-family: "redressed";
  z-index: 10;
  font-size: 35px;
}
.gif {
  z-index: 30;
  width: 40vw;
  max-width: 420px;
  position: absolute;
  left: 10px;
  top: 10px;
  display: none;
}
@media screen and (max-width: 500px) {
  * {
    margin: 0px;
    padding: 0px;
  }
  body {
    flex-direction: column;
  }
  .btn {
    display: inline-block;
    box-sizing: border-box;
    width: 60px;
    margin: 10px;
    margin-right: 0px;
    font-size: 20px;
    font-weight: 900;
    background: crimson;
    border-radius: 5px;
    color: black;
    padding: 15px;
    border: 0px;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  }
  #btnup {
    margin-top: 30px;
    margin-left: 0px;
  }
  #btndn,
  #btnup {
    margin-left: 0px;
    position: relative;
    left: 20px;
  }
  #btnr {
    position: relative;
    top: -140px;
    left: 80%;
  }
  #btnl {
    position: relative;
    top: -140px;
    left: 80%;
  }
}
